body {
  margin: 0;
  padding: 0;
}

.hidden-menu {
  display: block;
  position: fixed;
  list-style: none;
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
  width: 200px;
  background-color: #4876c3;
  height: 100%;
  top: 0;
  left: -200px;
  transition: left .2s;
  z-index: 2;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}

.hidden-menu-ticker {
  display: none;
}

.btn-menu {
  color: #fff;
  margin: 17px 0;
  position: fixed;
  top: 5px;
  left: 5px;
  cursor: pointer;
  transition: left .23s;
  z-index: 3;
  width: 18px;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}

@media only screen and (max-width: 414px) {
  .btn-menu {
    margin-left: 20px;
  }
}

.btn-menu span {
  display: block;
  height: 2px;
  background-color: #fff;
  margin: 3px 0 0;
  transition: all .1s linear .23s;
  position: relative;
}

.btn-menu span.first {
  margin-top: 0;
}

.hidden-menu-ticker:checked ~ .btn-menu {
  left: 160px;
}

.hidden-menu-ticker:checked ~ .hidden-menu {
  left: 0;
}

.hidden-menu-ticker:checked ~ .btn-menu span.first {
  -webkit-transform: rotate(45deg);
  top: 5px;
}

.hidden-menu-ticker:checked ~ .btn-menu span.second {
  opacity: 0;
}

.hidden-menu-ticker:checked ~ .btn-menu span.third {
  -webkit-transform: rotate(-45deg);
  top: -5px;
}

.header {
  width: 1920px;
  padding: 0 22px;
  min-height: 56px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.header__hamburger {
  display: none;
}

@media only screen and (max-width: 414px) {
  .header__hamburger {
    display: block;
  }
}

.header__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #4876c3;
  width: 100%;
  min-height: 56px;
}

.header__logo {
  background: url("img/logo.png") no-repeat 50% 60%;
  width: 193px;
  min-height: 56px;
}

@media only screen and (max-width: 1024px) {
  .header__logo {
    background: url("img/logoipad1.png") no-repeat 50% 65%;
    width: 145px;
    min-height: 56px;
  }
}

@media only screen and (max-width: 414px) {
  .header__logo {
    margin-left: 38px;
    background: url("img/logoiphone.png") no-repeat 50% 65%;
    width: 177px;
    min-height: 56px;
  }
}

.header__nav {
  position: relative;
  margin-left: 112px;
  width: 825px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 1440px) {
  .header__nav {
    margin-left: 86px;
  }
}

@media only screen and (max-width: 1366px) {
  .header__nav {
    margin-left: 86px;
  }
}

@media only screen and (max-width: 1280px) {
  .header__nav {
    margin-left: 80px;
    width: 603px;
  }
}

@media only screen and (max-width: 1024px) {
  .header__nav {
    margin-left: 40px;
    width: 603px;
  }
}

@media only screen and (max-width: 414px) {
  .header__nav {
    margin-left: 135px;
    margin: 0;
    width: 400px;
    position: absolute;
    height: 40px;
    top: 8px;
    right: 5px;
  }
}

.header__nav_menu {
  width: 715px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 1440px) {
  .header__nav_menu {
    width: 710px;
  }
}

@media only screen and (max-width: 1366px) {
  .header__nav_menu {
    width: 710px;
  }
}

@media only screen and (max-width: 1280px) {
  .header__nav_menu {
    width: 512px;
  }
}

@media only screen and (max-width: 1024px) {
  .header__nav_menu {
    width: 512px;
  }
}

@media only screen and (max-width: 414px) {
  .header__nav_menu {
    display: none;
  }
}

.header__nav_menu_item a {
  color: white;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

@media only screen and (max-width: 1280px) {
  .header__nav_menu_item a {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1024px) {
  .header__nav_menu_item a {
    font-size: 14px;
  }
}

.header__nav_menu_item img {
  margin-bottom: 2px;
  margin-left: 9px;
}

@media only screen and (max-width: 1024px) {
  .header__nav_menu_item img {
    margin-left: 1px;
    margin-bottom: 1px;
  }
}

.header__nav_search {
  width: 18px;
  height: 18px;
}

@media only screen and (max-width: 414px) {
  .header__nav_search {
    padding-left: 350px;
  }
}

.header__nav_circle {
  width: 20px;
  height: 20px;
}

@media only screen and (max-width: 414px) {
  .header__nav_circle {
    display: none;
  }
}

.header__nav_form {
  width: 783px;
  position: relative;
}

@media only screen and (max-width: 1280px) {
  .header__nav_form {
    width: 570px;
  }
}

@media only screen and (max-width: 1024px) {
  .header__nav_form {
    width: 570px;
  }
}

@media only screen and (max-width: 414px) {
  .header__nav_form {
    height: 40px;
  }
}

.header__nav_form-text {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  height: 40px;
  border: none;
  padding: 0;
  margin: 0;
  width: 705px;
}

@media only screen and (max-width: 1280px) {
  .header__nav_form-text {
    width: 500px;
  }
}

@media only screen and (max-width: 1024px) {
  .header__nav_form-text {
    width: 500px;
  }
}

@media only screen and (max-width: 414px) {
  .header__nav_form-text {
    width: 328px;
  }
}

.header__nav_form-btn {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  cursor: pointer;
  padding: 0;
  padding-top: 1px;
  margin-left: -5px;
  height: 40px;
  border: none;
  width: 75px;
  color: white;
  background: #ffc120;
  font-size: 13px;
  font-family: "Roboto";
}

@media only screen and (max-width: 1280px) {
  .header__nav_form-btn {
    width: 70px;
  }
}

@media only screen and (max-width: 1024px) {
  .header__nav_form-btn {
    width: 70px;
  }
}

@media only screen and (max-width: 414px) {
  .header__nav_form-btn {
    width: 70px;
    padding-top: 2px;
    margin-left: -5px;
  }
}

.header__nav_form input#search {
  padding-left: 38px;
  -webkit-appearance: none;
  padding-right: 25px;
}

.header__nav_form .icon {
  margin-left: 12px;
  position: absolute;
  top: 11px;
}

.header__nav_form .clear {
  position: absolute;
  top: 13px;
  right: 85px;
}

.header__nav_bigform {
  z-index: 10;
  position: absolute;
  background: white;
  width: 422px;
  height: 162px;
  bottom: -166px;
  display: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 16px 20px;
}

@media only screen and (max-width: 414px) {
  .header__nav_bigform {
    width: 390px;
    height: 252px;
    bottom: -256px;
    right: 8px;
  }
}

.header__nav_bigform-text {
  margin-left: 20px;
  font-size: 12px;
  font-family: "Roboto";
  width: 312px;
  height: 37px;
  border: 1px solid #c4ced5;
}

@media only screen and (max-width: 414px) {
  .header__nav_bigform-text {
    margin-left: 15px;
    width: 285px;
  }
}

.header__nav_bigform-sort {
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 12px;
  font-family: "Roboto";
  color: black;
}

.header__nav_bigform label {
  font-size: 12px;
  font-family: "Roboto";
  color: #212121;
}

.header__nav_bigform select {
  padding-left: 12px;
  margin-left: 25px;
  font-size: 13px;
  font-family: "Roboto";
  color: #444444;
  height: 37px;
  width: 144px;
  border: 1px solid lightgray;
  background: #f2f2f2;
  border-radius: 2px;
}

.header__nav_bigform input#text {
  padding-left: 10px;
}

.header__nav_bigform input#checkbox {
  padding-left: 10px;
  background: none;
}

.header__nav_bigform-check2 {
  padding: 0  30px;
}

@media only screen and (max-width: 414px) {
  .header__nav_bigform-check2 {
    display: block;
    margin-top: 12px;
    padding: 0;
  }
}

.header__nav_bigform-check4 {
  display: none;
}

@media only screen and (max-width: 414px) {
  .header__nav_bigform-check4 {
    display: block;
    margin: 12px 0;
  }
}

.header__nav_bigform:hover {
  display: block;
}

.header__alert {
  margin-left: 625px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

@media only screen and (max-width: 1440px) {
  .header__alert {
    margin-left: 100px;
  }
}

@media only screen and (max-width: 1366px) {
  .header__alert {
    margin-left: 100px;
  }
}

@media only screen and (max-width: 1280px) {
  .header__alert {
    margin-left: 230px;
  }
}

@media only screen and (max-width: 1266px) {
  .header__alert {
    margin-left: 200px;
  }
}

@media only screen and (max-width: 1024px) {
  .header__alert {
    margin-left: 70px;
  }
}

@media only screen and (max-width: 414px) {
  .header__alert {
    margin: 0;
    margin-bottom: 12px;
  }
}

.header__alert_mail {
  margin-top: 2px;
  padding-right: 25px;
}

@media only screen and (max-width: 414px) {
  .header__alert_mail {
    margin-left: 48px;
    padding: 0;
  }
}

.header__alert_bell {
  margin-bottom: 2px;
  height: 19px;
  padding-right: 20px;
  position: relative;
  z-index: 1;
}

.header__alert_bell-squere {
  position: absolute;
  background: #b71826;
  text-align: center;
  height: 13px;
  width: 13px;
  font-size: 10px;
  font-family: "Roboto";
  color: white;
  top: -4px;
  right: 17px;
}

@media only screen and (max-width: 414px) {
  .header__alert_bell-squere {
    right: -4px;
    z-index: 2;
  }
}

@media only screen and (max-width: 414px) {
  .header__alert_bell {
    margin-left: 110px;
    padding: 0;
  }
}

.header__alert_layer {
  background: url("img/layer.png") no-repeat;
  width: 32px;
  height: 32px;
}

@media only screen and (max-width: 414px) {
  .header__alert_layer {
    margin-left: 95px;
    padding: 0;
  }
}

.material-icons.md-light {
  color: white;
}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-20 {
  font-size: 20px;
}

.md-grey {
  color: #c1c1c1;
}

.md-14 {
  font-size: 14px;
}

.md-blue {
  color: #444f62;
}

.myFocus {
  display: block;
}

.header__nav_bigform input[type=checkbox] {
  display: none;
}

.header__nav_bigform input[type=checkbox] + label:before {
  content: "\2713";
  color: transparent;
  display: inline-block;
  border: 2px solid lightgray;
  font-size: 12px;
  line-height: 14px;
  margin: -5px 5px 0 0;
  height: 14px;
  width: 14px;
  text-align: center;
  vertical-align: middle;
  transition: color ease .3s;
  border-radius: 1px;
}

.header__nav_bigform input[type=checkbox]:checked + label:before {
  color: white;
  background: #8fc04f;
  border: 2px solid #8fc04f;
}

br {
  display: none;
}

@media only screen and (max-width: 414px) {
  br {
    display: block;
  }
}
