body{
    margin: 0;
    padding: 0;
}
@import "hamburger.scss";
.header{
    width: 1920px;
    padding: 0 22px;
    min-height: 56px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    
    &__hamburger{
        display: none;
        @media only screen and (max-width: 414px) {
        display: block;
        }
    }
    &__wrapper{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background: rgb(72, 118, 195);
        width: 100%;
        min-height: 56px;
    }
    &__logo{
       
        background: url('img/logo.png') no-repeat 50% 60%;
        width: 193px;
        min-height: 56px;
        @media only screen and (max-width: 1024px) {
            background: url('img/logoipad1.png') no-repeat 50% 65%;
        width: 145px;
        min-height: 56px;
        }
        @media only screen and (max-width: 414px) {
            margin-left: 38px;
            background: url('img/logoiphone.png') no-repeat 50% 65%;
        width: 177px;
        min-height: 56px;
            
        }
    }
 
    &__nav{
        position: relative;
        margin-left: 112px;
        width: 825px;
        display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content:space-between;
            align-items: center;
            @media only screen and (max-width: 1440px) {
                margin-left: 86px;
               
            }
            @media only screen and (max-width: 1366px) {
                margin-left: 86px;
               
            }
            @media only screen and (max-width: 1280px) {
                margin-left: 80px;
                width: 603px;
            }
            @media only screen and (max-width: 1024px) {
                margin-left: 40px;
                width: 603px;
               
            }
            @media only screen and (max-width: 414px) {
                margin-left: 135px;
                margin: 0;
                width: 400px;
                position: absolute;
                height: 40px;
                top:8px;
                right: 5px;
            }
            
        &_menu{
            width: 715px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content:space-between;
            align-items: center;
            @media only screen and (max-width: 1440px) {
                width: 710px;
               
            }
            @media only screen and (max-width: 1366px) {
                width: 710px;
               
            }
            @media only screen and (max-width: 1280px) {
                width: 512px;
            }
            @media only screen and (max-width: 1024px) {
                width: 512px; 
            }
            @media only screen and (max-width: 414px) {
                display: none;
                }
            &_item a{
                color: white;
                text-decoration: none;
                font-family: 'Roboto', sans-serif;
                font-size: 16px;
                @media only screen and (max-width: 1280px) {
                    font-size: 14px;
                }
                @media only screen and (max-width: 1024px) {
                    font-size: 14px;
                }
                
            }
            &_item img{
               margin-bottom: 2px;
               margin-left: 9px;
               @media only screen and (max-width: 1024px) {
                margin-left: 1px;
                margin-bottom: 1px;
                }
            }

        }
        &_search{
            width: 18px;
            height: 18px;
            @media only screen and (max-width: 414px) {
                padding-left: 350px;
            }
        }
        &_circle{
            width: 20px;
            height: 20px;
            @media only screen and (max-width: 414px) {
                display: none;
                }
            
        }
        &_form{
            width: 783px;
            position: relative;
            @media only screen and (max-width: 1280px) {
                width: 570px; 
            }
            @media only screen and (max-width: 1024px) {
                width: 570px; 
            }
            @media only screen and (max-width: 414px) {
                 height: 40px;
            }
            &-text{
                border-top-left-radius: 2px ;
                border-bottom-left-radius: 2px;
                height: 40px;
                border: none;
                padding: 0;
            margin: 0;
                width: 705px;
                @media only screen and (max-width: 1280px) {
                    width: 500px; 
                }
                @media only screen and (max-width: 1024px) {
                    width: 500px; 
                }
                @media only screen and (max-width: 414px) {
                    width: 328px;
                }    
            }
            &-btn{
                border-top-right-radius: 2px ;
                border-bottom-right-radius: 2px;
                cursor: pointer;
                padding: 0;
                padding-top:  1px;
                margin-left: -5px;
                height: 40px;
               border: none;
                width: 75px;
                color: white;
                background: rgb(255, 193, 32);
                font-size: 13px;
                font-family: "Roboto";
                @media only screen and (max-width: 1280px) {
                    width: 70px; 
                }
                @media only screen and (max-width: 1024px) {
                    width: 70px; 
                }
                @media only screen and (max-width: 414px) {
                    width: 70px;
                    padding-top: 2px;
                    margin-left: -5px;
                } 
            }
        }
        &_form input#search{
            padding-left: 38px;
            -webkit-appearance: none;
            padding-right: 25px;

        }
        &_form .icon{
            margin-left: 12px;
            position: absolute;
            top: 11px;
        }
        &_form .clear{
            position: absolute;
            top: 13px;
            right: 85px;
        }
        &_bigform{
            z-index: 10;
        position: absolute;
          background:white;
          width: 422px;
          height: 162px;
          bottom: -166px;
          display: none;
          box-shadow: 0 0 10px rgba(0,0,0,0.5);
          padding:16px 20px;
          @media only screen and (max-width: 414px) {
            width: 390px;
            height: 252px;
            bottom: -256px;
            right:8px;
            
        }
          &-text{
              margin-left: 20px;
            font-size: 12px;
            font-family: "Roboto";
              width: 312px;
              height: 37px;
              border: 1px solid rgb(196, 206, 213);
              @media only screen and (max-width: 414px) {
                margin-left: 15px;
                width: 285px;
                
            }
          }
          &-sort{
              margin-top: 15px;
              margin-bottom: 20px;
            font-size: 12px;
            font-family: "Roboto";
            color: rgb(0, 0, 0);
            
            
          }
          label {
            
            font-size: 12px;
            font-family: "Roboto";
            color: rgb(33, 33, 33);
            
            
          }
          select{
              padding-left: 12px;
              margin-left: 25px;
            font-size: 13px;
            font-family: "Roboto";
            color: rgb(68, 68, 68);
            height: 37px;
            width: 144px;
            border: 1px solid rgb(211, 211, 211);
            background: rgb(242, 242, 242);
            border-radius: 2px;
          }

          
        }
        &_bigform input#text{
            padding-left: 10px;
        }
        &_bigform input#checkbox{
            padding-left: 10px;
            background: none;
           
        }
        

        &_bigform-check2{
           
            padding: 0  30px;
            @media only screen and (max-width: 414px) {
                display: block;
                margin-top: 12px;
               padding: 0;
              
    
            }
        }
        &_bigform-check4{
            display: none;
            @media only screen and (max-width: 414px) {
                display: block;
                margin: 12px 0;
            }
        }
        &_bigform:hover{
            display: block;
        }
    } 
    
    &__alert{
        margin-left: 625px;
        display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    @media only screen and (max-width: 1440px) {
        margin-left: 100px;
    }
    
        @media only screen and (max-width: 1366px) {
            margin-left: 100px;
        }
        @media only screen and (max-width: 1280px) {
            margin-left: 230px;
        }
        @media only screen and (max-width: 1266px) {
            margin-left: 200px;
        }
        
        @media only screen and (max-width: 1024px) {
            margin-left: 70px;
        }
        @media only screen and (max-width: 414px) {
            margin: 0;
            margin-bottom: 12px;
            }
       
        &_mail{
          
            margin-top: 2px; 
           padding-right: 25px;
           @media only screen and (max-width: 414px) {
            margin-left: 48px;
            padding: 0;
            }
        }
        &_bell{
            margin-bottom: 2px; 
            height: 19px;
            padding-right: 20px;
            position: relative;
            z-index: 1;
            &-squere{
                position: absolute;
                background: rgb(183, 24, 38);
                text-align: center;
                height: 13px;
                width: 13px;
                font-size: 10px;
                font-family: "Roboto";
                color: rgb(255, 255, 255);
                top:-4px;
                right: 17px;
                @media only screen and (max-width: 414px) {
                    right: -4px;
                    z-index: 2;
                    }
            }
            @media only screen and (max-width: 414px) {
                margin-left: 110px;
                padding: 0;
                }
        }
        &_layer{
            
         
            background: url('img/layer.png') no-repeat ;
            width: 32px;
            height: 32px;
            @media only screen and (max-width: 414px) {
                margin-left: 95px;
                padding: 0;
                }
        }
    }
}

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-20{
    font-size: 20px;
}
.md-grey{
    color: rgb(193, 193, 193);
}
.md-14{
    font-size: 14px;
}
.md-blue{
    color: rgb(68, 79, 98);
} 

.myFocus{  
  display:block; 
} 

.header__nav_bigform input[type=checkbox] {display: none;}

.header__nav_bigform input[type=checkbox] + label:before {
    content: "\2713";
    color: transparent;
    display: inline-block;
    border: 2px solid rgb(211, 211, 211);
    font-size: 12px;    
    line-height: 14px;
    margin: -5px 5px 0 0;
    height: 14px;
    width: 14px;
    text-align: center;
    vertical-align: middle;
    transition: color ease .3s;
    border-radius: 1px;
}

.header__nav_bigform input[type=checkbox]:checked + label:before {
    color: white;
  background:rgb(143, 192, 79);
  border: 2px solid rgb(143, 192, 79);
  
}

br{
    display: none;
    @media only screen and (max-width: 414px) {
        display: block;
       
        
    }
}

